<div>
	<div class="bg-amber-150">
		<%= video_tag("/videos/bespre.mp4", autoplay: :true, muted: :true, class: "m-auto h-1/3 w-1/3") %>
		<%= video_tag("/videos/subtitle.mp4", autoplay: :true, muted: :true, class: "m-auto w-1/4 h-1/4") %>
	</div>
</div>