<div class="text-center mb-4">
  <%= link_to t('defaults.list.edit'), edit_wish_list_path(wish_list), class: "btn btn-secondary mb-4 w-40" %>
  <%= button_to t('defaults.list.delete'), wish_list_path(wish_list), class: "btn btn-accent w-40", method: :delete, data: { turbo_confirm: t('defaults.message.delete_confirm') } %>
</div>