<%= search_form_for @q, url: url, html: { data: { turbo_frame: "wish_list" } } do |f| %>
  <div class="input-group justify-center m-auto mb-14">
    <%= f.search_field :list_name_cont, class: 'input input-bordered w-60', placeholder: "リスト名" %>
    <div class="input-group-append">
      <%= f.submit '検索', class: "btn btn-square" %>
    </div>
  </div>
<% end %>