<div class="text-center mb-4">
  <%= link_to t('defaults.message.create'), new_wish_list_message_path(@wish_list), class: "btn btn-wide btn-primary text-red-100", data: { turbo_frame: 'new_message' } %>
</div>