<div class="card w-60 bg-base-200 shadow-xl">
  <figure class="px-10 pt-2">
    <%= image_tag "present_box.png", class: "rounded-xl", size: "150x150" %>
  </figure>
  <div class="card-body items-center text-center pt-5">
    <h2 class="card-title"><%= link_to wish_list.list_name, '#' %></h2>
  </div>
</div>