<div class="text-2xl text-center font-semibold my-8">
  <span>新規登録</span>
</div>
<%= form_with model: @user, local: true do |f| %>
  <div class="space-y-4">
    <div class="form-control w-full max-w-xs m-auto">
      <span class="">Name</span>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>

    <div class="form-control w-full max-w-xs m-auto">
      <span class="">Email</span>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>

    <div class="form-control w-full max-w-xs m-auto">
      <span class="">Password</span>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>

    <div class="form-control w-full max-w-xs m-auto">
      <span class="">Password confirmation</span>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="text-center">
      <%= f.submit '登録', class: 'btn btn-secondary my-8' %>
    </div>
  </div>
<% end %>