<header>
  <div class='navbar bg-accent-focus'>
    <div class='flex-1'>
      <%= link_to image_tag('bespre_title.png'), root_path, class: 'ml-4 w-40 h-8' %>
    </div>
    <div class='flex-none gap-2'>
      <div class='flex-none'>
        <ul class='menu menu-horizontal px-1'>
          <li><%= link_to '新規登録', new_user_path, class: "" %></li>
          <li><%= link_to 'ログイン', login_path ,class: "" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>