<footer class="footer footer-center p-10  text-base-content">
  <div class="grid grid-flow-col gap-2">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシポリシー</a>
    <%= link_to 'お問い合せ', 'https://twitter.com/knight92137', target: :_blank, rel: "noopener noreferrer" %>
  </div>
  <div>
    <p>Copyright © 2023 - All right reserved by BESPRE</p>
  </div>
</footer>