<footer class="footer footer-center p-10  text-base-content">
  <div class="grid grid-flow-col gap-2">
    <%= link_to '利用規約', terms_of_service_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <%= link_to 'お問い合せ', 'https://forms.gle/QQ1XuND2hDZfg6C76', target: :_blank, rel: "noopener noreferrer" %>
  </div>
  <div>
    <p>Copyright © 2023 - All right reserved by BESPRE</p>
  </div>
</footer>