<footer class="footer footer-center p-10  text-base-content">
  <div class="grid grid-flow-col gap-2">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </div>
  <div>
    <p>Copyright © 2023 - All right reserved by BESPRE</p>
  </div>
</footer>