<% item.each do |item| %>
  <div class="card card-compact w-60 bg-base-200 rounded-3xl text-center shadow-xl m-8">
    <div class="card-body">
      <%= image_tag item.image, class: "pb-4 object-scale-down w-52 h-52" %>
      <p class="font-semibold link link-hover"><%= link_to item.item_name, "#{item.url}", target: :_blank, rel: "noopener noreferrer" %></p>
      <p class="text-xl font-semibold text-error pt-2"><%= number_with_delimiter(item.price) %>円</p>
      <% if current_user.own?(item) %>
        <div class="flex justify-evenly pt-2">
          <%= button_to t('defaults.item.delete'), item_path(item), class: "btn btn-accent", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>